body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

.input-label {
  font-weight: 300;
  font-size: 18px;
  display: block;
  margin-bottom: 5px;
}

.text-input {
  font-size: 15px;
  padding: 1px 3px;
  width: 100%;
  max-width: 100%;
}

.input-field {
  margin-bottom: 20px;
}

#encResultQr {
  height: 200px;
}


#results-container {
  position: relative;
  max-width: 500px;
}

#qr-video,
#overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#qr-video {
  position: relative;
  z-index: 1;
  display: none;
}

#overlay {
  position: absolute;
  z-index: 1000;
  opacity: 0.7;
}

#log {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 30px;
}

#resultTxtLabel {
  display: none;
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 12px;
}

@media (min-width: 450px) {
  .controls {
    flex-direction: row;
    align-items: center;
  }
}

.results {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 20px;
}

.results-col {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.results-col:first-child {
  margin-bottom: 20px;
}

@media (min-width: 450px) {
  .results-col {
    flex-direction: row;
    width: 50%;
  }

  .results-col:first-child {
    margin-bottom: 0;
  }
}

.controls-field {
  display: block;
  margin-top: 3px;
  margin-right: 5px;
}

.start-btn {
  margin-bottom: 4px;
  margin-right: 5px;
  cursor: pointer;
}

@media (min-width: 450px) {
  .controls-field {
    display: inline;
    margin-top: 0;
  }

  .start-btn {
    margin-bottom: 0;
  }
}

.results-qr {
  text-align: center;
}

.decoded-text {
  margin-top: 10px;
}

.qr-error {
  color: rgb(185, 55, 55);
}

.qr-ok {
  color: rgb(97, 228, 97);
}